.mypy_cache/
venv/
transient/__pycache__/
images/
transient/static/__pycache__/
transient.egg-info/
build/
dist/
transient-kernel/
working/
tags

# artifacts produced from testing
artifacts

# artifacts produced from `make docs`
docs/configuration-file/comprehensive-example.md
